/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Almarai", sans-serif;
    color: white;
    height:100vh;
    margin:0;
    background-image: url('/images/background.jpg') ;
    background-position:center;
    background-size: cover;
    
}
a {
    text-decoration: none;
}
.container {
    padding: 20px 30px ;
    margin: 0 auto 0;
}

/* End Global Rules */
/* ============================ Page Style ================================================= */
.glass-card {
    max-width: 500px;
    min-height: 350px;
    padding: 10px;
    margin: 25px auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    animation: slideUpFade 0.6s ease-out;
}
.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}
.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.glass-card header {
    position: relative;
    padding: 0 10px 20px;
}
.glass-card header::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 95%;
    height: 3px;
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.8), transparent);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.glass-card header h1{
    margin-bottom: 10px;
    font-size: 24px;
}
.glass-card header h1 span{
    background: linear-gradient(90deg, #00E5FF, #8A2BE2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.glass-card header p {
    font-size: 14px;
}
.glass-card > p {
    max-width: 85%;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
}
.glass-card h1, .glass-card p{
    user-select: none;
}
@media (max-width:375px) {
    .glass-card header::after {
        width: 80%;
    }
    .glass-card header h1{
        font-size: 20px;
    }
    .glass-card header p {
        font-size: 12px;
    }
    .glass-card > p {
        margin-top: 14px;
        max-width: 95%;
    }
}
@media (min-width:500px) {
    .glass-card header h1{
        font-size: 32px;
    }
    .glass-card header p {
        font-size: 18px;
    }
    .glass-card > p {
        font-size: 20px;
    }
}
.glass-card .social {
    margin-top: 20px;
    min-width: 60%;
    font-size: 38px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.glass-card .social a{
    padding: 8px 10px;
    margin: 10px 5px;
    transition: 0.3s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:375px) {
    .glass-card .social {
        margin-top: 10px;
        font-size: 36px;
        padding: 10px 0;
    }
    .glass-card .social a{
        padding: 4px 6px;
    } 
}
.glass-card .social a i{
    transition: 0.3s;
}
.social .facebook {
    background-color:#1877F2;
    color:white;
}
.social .instagram {
    color: rgb(255, 255, 255);
    background: linear-gradient(
        45deg,
        #F58529,
        #FEDA77,
        #DD2A7B,
        #8134AF,
        #515BD4
    );
}
.social .telegram {
    background:#0088CC;
    color:white;
}
.social .github{
    background:#181717;
    color:white;
}
.glass-card > a {
    position: relative;
    overflow: hidden;
    display: block;
    width: fit-content;
    color: #fcfcfe;
    font-weight: 700;
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow:     0 8px 32px rgba(0, 0, 0, 0.1),    inset 0 1px 0 rgba(255, 255, 255, 0.5),    inset 0 -1px 0 rgba(255, 255, 255, 0.1),    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    
}
.glass-card > a:hover {
  background-position: right center;
  color: #fff;
}
.glass-card > a:active{ 
    transform: translateY(3px) scale(0.96);
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    -webkit-transform: translateY(3px) scale(0.96);
    -moz-transform: translateY(3px) scale(0.96);
    -ms-transform: translateY(3px) scale(0.96);
    -o-transform: translateY(3px) scale(0.96);
}
.runner {
    position: absolute;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(to left, white 0%, rgba(255,255,255,0) 100%);
    offset-path: inset(0 round 10px);
    offset-rotate: auto;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    animation: move 4s linear infinite;
    -webkit-animation: move 4s linear infinite;
}
.runner:first-of-type {
    animation-delay: 0s;
}
.runner:last-of-type {
    animation-delay: -2s; 
}
/* ============================ Animation ================================================= */
@keyframes slideUpFade {
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* الحركة */
@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}